<section class="page-section blog-posts">
    <div class="page-title-wrapper">
        <h1 class="page-title">Zack's Simple Blog App</h1>
    </div>
    <div class="page-create-btn-wrapper">
        <a href="create-post" class="new-post-btn cta-button blog-button">New Post</a>
    </div>
    <% for(const post of posts) { %>
        <div class="blog-post-container" id="<%- post.id %>">
            <h2 class="post-title"><a href="/post/<%- post.id %>"><%- post.title %></a></h2>
            <span class="post-author">By: <%- post.author %></span>
            <p class="post-body"><%- presentation.limitContent(post.body, 500) %></p>
            <span class="post-date"><%- presentation.date(post.date) %></span>
            <% if(post.tags.length > 0) { %>
                <div class="tag-wrapper">
                    <% for(const idx in post.tags) { %>
                        <span class="post-tag"><%- post.tags[idx] %></span>
                    <% } %>
                </div>
            <% } %>
            <div class="post-button-wrapper">
                <a href="/edit-post/<%- post.id %>" class="edit-button primary-button blog-button" data-post-id="<%- post.id %>" data-edit-btn>Edit</a>
                <button type="button" class="delete-button blog-button" data-post-id="<%- post.id %>" data-delete-btn>Delete</button>
            </div>
        </div>
    <% } %>
    <script src="/scripts/deletePost.js"></script>
</section>