<section class="page-section blog-posts">
    <div class="page-title-wrapper">
        <h1 class="page-title">Zack's Simple Blog App</h1>
    </div>
    <% for(const post of posts) { %>
        <div class="blog-post-container" id="<%- post.id %>">
            <h2 class="post-title"><%- post.title %></h2>
            <span class="post-author">By: <%- post.author %></span>
            <p class="post-body"><%- post.body %></p>
            <span class="post-date"><%- presentation.date(post.date) %></span>
            <div class="post-button-wrapper">
                <button type="button" class="edit-button primary-button blog-button" data-post-id="<%- post.id %>">Edit</button>
            </div>
        </div>
    <% } %>
</section>